body {
  	margin: 0;
 	padding: 0;
	background: linear-gradient(to top, rgba(85,183,245,1) 21%, rgba(42,103,190,1) 58%)no-repeat fixed;
	background-repeat:no-repeat;
  	font-family: Helvetica, sans-serif;
}

