body {
  	margin: 0;
 	padding: 0;
	background-image:url('image/background.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
  	font-family: 'roboto', sans-serif;
}

